body {
    padding: 10px;
  }
  
  input {
    margin: 5px;
  }
  
  form { width: 400px; }
  form fieldset section div label{ 
    display: flex; 
    flex-direction: column;
    padding: 10px 0 0 0;
  }
  form fieldset section div input {
      margin: 0;
  }